*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    color: white;
}

.container{
    display: block;
    gap: 5px;
    grid-template-areas: 
    "header header"
    "main main"
    "aisde aside"
    "footer footer"
    ;
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}

.item{
    background-color: ;
    padding: 20px 0px;
}

.display{
    display: flex;
}

.logotipo{
    margin: 0;
}

.navegacao{
    display: none;
}

.navegacao ul{
    list-style: none;
}

.navegacao li{
    display: inline-block;
    padding: 20px;
}

.navegacao a{
    color: white;
    opacity: 1;
    text-decoration: none;
}

.navegacao a:hover{
    opacity: 0.7;
}

.botaomenu{
    display: block;
    position: absolute;
    right: 0;
}

.botaomenu img{
    width: 50px;
}

.navmobi{
    position: absolute;
    top: 0;
    background-color: white;
    padding: 20px;
    width: 250px;
    height: 1110vh;
    box-shadow: 3px 3px 3px red;
}

.navmobi button{
    font-weight: bold;
    padding: 10px;
    background-color: white;
}

.navmobi ul{
    list-style: none;
}

.navmobi li{
    margin: 30px;
    padding: 10px;
}

.navmobi a{
    color: black;
    opacity: 1;
    text-decoration: none;
}

.navmobia a:hover{
    opacity: 0.7;
}

.fechar{
    font-size: 30px;
}

.lateral{
    width: 100%;
}

.lupa{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.lupa input{
    height: 30px;
}

.destaques{
    text-align: center;
}

.destaques img{
    display: flex;
    width: 200px;
    height: 200px;
    margin: 20px auto;
}

.sitesxxx{
    text-align: center;
    margin: 0px 40px;
}

.sitesxxx ul{
    list-style: none;
}

.sitesxxx li{
    display: inline-block;
    padding: 10px;
}

.sitesxxx a{
    color: red;
    text-decoration: none;
    opacity: 1;
}

.sitesxxx a:hover{
    opacity: 0.7;
}

.quadros{
    display: block;
}